#maincontent{
/*    background-image: url("/img/banner1-min.jpg");*/
   
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
.maincontent{
     padding-top: 50px;padding-bottom: 22px;
}
/*
#hello:hover .row #cirlce{
    background: linear-gradient(-45deg,blue,red,pink);
}
*/

#lorempara{
    cursor: pointer;
}
#WebReadmore{
    background-color: whitesmoke!important;color: black!important;
    transition: all .35s ease;}

#lorempara:hover #WebReadmore{
    background-color: lightseagreen!important;color: white!important;
    
}
.why{
     text-align:center;font-family: 'Raleway', sans-serif;padding:15px;font-size: 15px;
}
#choosepanel h2{
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}

#projects{
     line-height: 30px;font-family: 'raleway'san-serif;font-size: 18px;list-style:disc;padding-left: 70px;
}
#projects li{
    padding: 5px;
}
#choosepanel:hover{
/*background: rgba(0, 0, 0, .1);*/
}
#choosepanel{
/*
   background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
*/

}
#choosepanel img{
   margin:5px;margin-top:20px;
    width:80px;height:80px;
}
#progress{
    height: 5px;background-color: orangered;width: 15%;
    padding: 0px;margin: 0px;
     -webkit-transition: width 0.7s ease; /* For Safari 3.1 to 6.0 */
    transition: width 0.7s ease;
}
#choosepanel:hover #progress{
    width: 90%;
}
.nav-tabs--vertical {
  border-bottom: none;
/*  border-right: 1px solid #ddd;*/
  display: flex;
    margin-right: 0px!important;
  flex-flow: column nowrap;
}
.nav-tabs--left {
  margin: 0 15px;
}
.nav-tabs--left .nav-item + .nav-item {
  margin-top: 0.25rem;
}
.nav-tabs--left .nav-link {
  transition: border-color 0.125s ease-in;
  white-space: nowrap;
}
.nav-tabs--left .nav-link:hover {
  background-color: #f7f7f7;
  border-color: transparent;
}
.nav-tabs--left .nav-link.active {
  border-bottom-color: #ddd;
  border-right-color: #fff;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0;
  margin-right: -1px;
    background-color: burlywood;
}
.nav-tabs--left .nav-link.active:hover {
/*  background-color: #fff;*/
/*  border-color: #0275d8 #fff #0275d8 #0275d8;*/
}
