
.d-block{
    margin-top: 120px;
    height:450px;
    padding-top: 40px;
    padding-bottom: 0px;
}
.d-block h1{
    color: whitesmoke;margin-bottom: 20px;
    font-family: 'Raleway',sans-serif;
    font-size: 45px;padding-top: 0px;
    text-align: center;
}
.d-block p{
    color:dimgray;font-size:22px;
    font-family: 'raleway',sans-serif;
    text-align: center;
    margin-top: 40px;
}
.fot{
     background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

h3{
text-align: center;
    font-family: 'Raleway',sans-serif;
}
#jumbodiv{
   background-color: whitesmoke;margin-bottom: 130px;
   border-radius: 27px 27px 0px 0px;
   -moz-border-radius: 27px 27px 0px 0px;
    -webkit-border-radius: 27px 27px 0px 0px;
    border: 0px solid #000000;
}
/*side menu css*/
#choosepanel2{
    background-color: whitesmoke;
    -webkit-box-shadow: 4px 8px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 8px 31px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 8px 31px 0px rgba(0,0,0,0.75);
    
/*
border-radius: 27px 27px 27px 27px;
-moz-border-radius: 27px 27px 27px 27px;
-webkit-border-radius: 27px 27px 27px 27px;
border: 0px solid #000000;
*/
}
#choosepanel{
    background-color: whitesmoke;
}
#choosepanel img{
   margin:5px;margin-top:20px;
    width:100px;height:100px;
}
#choosepanel h3{
    padding-top: 45px;
    font-family: 'Coda',sans-serif;
}
.why{
    padding:20px;
     text-align:center;font-family: 'Raleway', sans-serif;padding-bottom:25px;font-size: 16px;
    padding-top:20px;
    color: antiquewhite;
}
#floated{
    position: absolute;
    top : 950px;
}
#floated2{
    position: absolute;
    top : 1440px;
}
/*closem side menu css*/

h1{
    font-family: 'raleway',sans-serif;
    font-size: 50px;
    color: gray;
    padding-top: 30px;
    text-align: center;
}