/*side menu css*/

#sidebar-menu .main-menu a {
    display: block;
	font-size: 13px;
	font-weight: 500;
	color: #999;
	padding: 4px 10px;
}
#sidebar-menu .main-menu a:hover {
	color: #11427D;
	text-decoration: none;
	background-color: transparent;
	border-left: 1px solid #11427D;
}
/*closem side menu css*/